.activity {
  display: flex;
  flex-direction: column;
  
}
.activity-nav {
  color: #000;
  border-radius: 5px;
  background: #fbbc05;
  
}

.activity-arrow {
  background: #000;
  color: #fafafa;
}

.activity h2 {
  font-family: "3270Narrow";
  font-size: 1.5em;
  font-weight: 600;
  padding-left: 5px;
  height: 2.5rem;
  line-height: 45px;
  border-radius: 5px;
  background: #fbbc05;
  overflow: hidden;
  border-right: 0.25em solid #0a0a0a;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.3em;
}

.activity h5 {
  font-family: "3270Narrow";
  font-size: 1.2em;
  font-weight: 300;
  text-transform: capitalize;
}

@media all and (max-width: 768px) {

  .activity {
    margin: 4vw;
    margin-top: 13vh;
    display: flex;
    flex-direction: column;

    
  }

  .activity h2 {
    font-family: "3270Narrow";
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 5px;
    height: 2rem;
    line-height: 40px;
    border-radius: 5px;
    background: #fbbc05;
    overflow: hidden;
    border-right: 0.25em solid #0a0a0a;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.3em;
  }
  
  .activity h5 {
    font-family: "3270Narrow";
    font-size: 1.2em;
    font-weight: 300;
    text-transform: capitalize;
  }
}
