.coffee {
  display: flex;
  flex-flow: row nowrap;
  margin: 8px;
  font-family: "3270Narrow";
  font-size: 22px;

}

.coffee-arrow {
  background: #000;
  color: #fafafa;
  margin-left: 10px;
  margin-right: 10px;
}
