.intro {
  font-family: "3270Narrow";
  font-size: 2em;
  background: #fbbc05;
  color: #000;
  font-weight: 600;
  margin: 0 0 10px;
  overflow: hidden; 
  border-right: 0.25em solid #080808; 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; 
  animation: typing 2s steps(44) 1s 1 normal both,
  blinkTextCursor 900ms steps(60) infinite;
  height: 4rem;
  line-height: 65px;
  border-radius: 5px;
}

@keyframes blinkTextCursor {
    from,
    to {
      border-color: transparent;
    }
    100% {
      border-color: #000;
    }
  }
  
