.smile {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.smile-nav {
  color: #000;
  border-radius: 5px;
  background: #fbbc05;
}

.smile-element {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: center;
  margin-top: 3vh;
}

.smile-img {
  height: 36px;
  width: 36px;
  margin: 8px;
}

.smile h2 {
  font-family: "3270Narrow";
  font-size: 1.5em;
  font-weight: 600;
  padding-left: 5px;
  height: 2.5rem;
  line-height: 45px;
  border-radius: 5px;
  background: #fbbc05;
  overflow: hidden;
  border-right: 0.25em solid #0a0a0a;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.3em;
}

@media all and (max-width: 768px) {

  .smile {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
  }
}